@import '../../../style/mixin';

.informSection {
  width: 1440px;
  margin: 0 auto;

  .ListComponent {
    width: 100%;
    border-spacing: 0;

    thead {
      text-align: center;
      background-color: #111111;
      color: white;

      th {
        padding: 20px;
        border-bottom: 1px solid #ddd;
      }

      th.num {
        width: 100px;
      }

      th.title {
        width: 60%;
      }

      th.view {
        width: 100px;
      }
    }

    .informList {
      color: #111;
      transition: 1s;
      display: table-row;

      &:hover {
        background-color: map-get($map: $colors, $key: mFont01);
      }

      td {
        padding: 25px;
        border-bottom: 1px solid #acacac;
        transition: 1s;
      }

      &:hover>td {
        color: map-get($map: $colors, $key: wFont01);
      }

      td.informNumbering {
        text-align: center;
      }

      td.informTitle {
        text-align: left;
      }

      td.informDate {
        text-align: center;
      }

      td.informWriter {
        text-align: center;
      }
    }
  }

  .modalBack {
    position: absolute;
    transition: 1s;
    width: 100vw;
    height: 100vh;
    padding: 30px 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0 auto;
    background-color: rgba($color: #111111, $alpha: 0.5)
  }

  .modal {
    position: absolute;
    opacity: 0;
    transition: 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50%;
    height: 50%;
  }

  .op {
    opacity: 1;
  }
}