@import '../../style/mixin';

button{
    width:188px;
    height:46px;
    border:2px solid #33bbc5;
    border-radius: 30px;
    background-color: transparent;
    transition: .5s;
    cursor:pointer;
    @include m16b;
}
button:hover{
    background-color: #33bbc5;
    color:#ffffff;
}