@import '../../../style/mixin';
.subGuide {
  width: 100%;

  .subGuideHeader {
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:end;
    background: url(../../../asset/img/subtop2.png) center;
    background-size: cover;
    padding-bottom: 100px;
    h1 {
      @include w48b;
      padding-bottom: 20px;
    }
    p {
      @include w18b;
    }
  }
  .subGuideScreen {
    @include desktop;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
    .tabWrap {
      display: flex;
      justify-content: center;
      text-align: center;
      margin:0;
      .tabMenu {
        @include b24r;
        font-weight: 300;
        cursor: pointer;
      }
      .tabDivide {
        padding: 0 20px;
        @include b24r;
      }
      .tabMenu.tabAcitve {
        @include b24b;
        padding-bottom: 5px;
        border-bottom: 2px solid #111111;
      }
    }
    .subGuideContent {
      .iconBg {
        width: 70px;
        height: 70px;
        background-color: #ebebeb;
        border-radius: 50%;
        line-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .subGuideTitle {
        @include b48b;
        padding: 58px 0 50px 0;
        text-align: center;
      }
      .subGuideBoxWrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        flex-wrap: wrap;
        .subGuideBox {
          width: calc((100% - 60px) / 4);
          height: 243px;
          border: 1px solid #acacac;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: start;
          padding-top: 50px;
          h2 {
            @include b24b;
            padding-bottom: 20px;
          }
          p {
            @include b18r;
          }
          div {
            width: 110px;
            height: 30px;
            border: 1px solid #33bbc5;
            color: #33bbc5;
            @include m14b;
            text-align: center;
            margin: 20px auto 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
      .subGuideNotification {
        padding: 50px 0;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        .subGuideTableTitle{
          @include b18b;
          white-space: nowrap;
        }
        .subGuideTableText{
          @include b18r;
          padding-left: 20px;
        }
        h2 {
          padding-bottom: 20px;
        }
        p {
          @include b18r;
        }
        .subGuideCaution {
          @include b16r;
          color: #535353;
        }
      }
      .guideMap {
        h1 {
          @include b48b;
          text-align: center;
        }
        .map {
          width: 100%;
          height: 600px;
          margin: 50px 0 40px 0;
        }
        .addressTel {
          display: flex;
          justify-content: space-between;
          .mapAddress {
            p {
              @include b24b;
            }
            display: flex;
            .mapIcon {
              width: 40px;
              height: 40px;
              background: url(../../../asset/img/icon.png);
              background-position: -79px -273px;
              margin-right: 20px; 
            }
          }
          .telFax {
            display: flex;
            .telFaxWrap{
              display: flex;
            p {
              @include b18b;
              margin-left: 20px;
            }
            span {
              @include b18r;
            }
            display: flex;
            .iconBg {
              width: 70px;
              height: 70px;
              background-color: #ebebeb;
              border-radius: 50%;
              line-height: 40px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 30px;
              .telIcon {
                width: 33px;
                height: 31px;
                background: url(../../../asset/img/phone-call.png) center;
                background-size: cover;
                margin: 0 auto;
              }
              .faxIcon {
                width: 33px;
                height: 31px;
                background: url(../../../asset/img/icon.png);
                background-position: -36px -274px; 
                margin:0 auto;
            }
            }
          }
          }
        }
      }
      .transport{
        padding:50px 0 200px 0;
        h1{
          @include b24b;
          padding-bottom: 30px;
        }
        p{
          @include b16r;
          color:#494949;
        }
        .transportWrap{
          display: flex;
        .iconBg{
          width:90px;
          height:90px;
          margin-bottom: 20px;
          .subwayIcon{
            width:50px; height:50px;
            background: url(../../../asset/img/subway.png) center;
            background-size: cover;
            margin:0 auto;
          }
          .busIcon{
            width:50px; height:50px;
            background: url(../../../asset/img/bus.png) center;
            background-size: cover;
            margin:0 auto;
          }
        }
        p{
          @include b18b;
          margin-left: 20px;
          color:#111111;
          span{
            @include b18r;
          }
        }
      }
    

      }
    }
  }
  @include tablet{
    .subGuideScreen{
      .tabWrap{
        margin-top: 100px;
      }
      padding:0 50px;
      .subGuideContent{
        .subGuideBoxWrap{
          .subGuideBox{
            width:calc((100% - 20px) / 2);
            margin-top: 20px;
            padding: 50px 0;
          }
        }
        .transport{
          .transportWrap{
            .tabletFlex{
              display: flex;
            }
          }
        }
      }
    }
  }
  @include mobileF{
    .subGuideHeader{
      h1{
        @include w40b;
      }
      p{
        @include w16r
      }
    }
    .subGuideScreen{
      padding:0 30px;
      .tabWrap{
      }
      .subGuideContent{
        .subGuideTitle{
          @include b40b;
        }
        .subGuideBoxWrap{
  
          .subGuideBox{
            padding: 40px 0;
            p{
              @include b16r;
              span{
                font-size: 16px;
              }
            }
          }
        }
        .transport{

          h1{
            @include b24b;
          }
          padding-bottom: 150px;
          .transportWrap{
            p{
              font-size: 16px;
              .tabletFlex{
                font-size: 16px;
              }
              .mobileFlex{
                font-size: 16px;
              }
              span{
                font-size: 16px;
              }
            }
            }
            .guideCaution{
              font-size: 14px;
            }
        }
        .guideMap{
          h1{
            @include b40b;
          }
          .addressTel{
            flex-direction: column;
            .mapAddress{
              p{
                @include b18b;
              }
            }
            .telFax{

              .telFaxWrap{
               display: flex;
               padding-top: 20px;
               .iconBg{
                margin:0;
               }
               p{
                font-size: 16px;
                span{
                  font-size: 16px;
                }
               }
              }
              flex-direction: column;

            }
          }
        }
      }
    }
  }
  @include mobileS{
    .subGuideHeader{
      h1{
        @include font32b;
      }
      p{
        font-size: 14px;
      }
    }
    .subGuideScreen{
      padding:0 20px;
      .tabWrap{
        .tabMenu{
          @include b18l
        }
        .tabMenu.tabAcitve{
          @include b18b
        }
      }
      .subGuideContent{
        .subGuideTitle{
          @include font32b;
        }
        .subGuideBoxWrap{
  
          .subGuideBox{
            padding: 30px 0;
            height:100%;
            h2{
              padding-bottom: 10px;
              font-size: 18px;
            }
            p{
              font-size: 14px;
              span{
                font-size: 14px;
              }
            }
            div{
              margin-top: 10px;
            }
          }
        }
        .subGuideNotification{
          h2{
            font-size: 18px;
          }
          .subGuideTableTitle{
            font-size: 14px;
          }
          .subGuideTableText{
            font-size: 14px;
          }
          p{
            font-size: 14px;
          }
          .subGuideCaution{
            font-size: 14px;
          }
        }
        
        .transport{
          padding-bottom: 100px;

          .transportWrap{
            p{
              padding-bottom: 20px;
              .tabletFlex{
                font-size: 14px;
              }
              .mobileFlex{
                font-size: 14px;
                display: flex;
                flex-direction: column;
              }
              span{
                font-size: 14px;
              }
            }
            }
            .guideCaution{

            }
        }
        .guideMap{
          h1{
            font-size: 32px;
          }
          .addressTel{

            .mapAddress{
              p{

              }
            }
            .telFax{

              .telFaxWrap{

               .iconBg{

               }
               p{
                font-size: 14px;
                span{
                font-size: 14px;
                }
               }
              }
            }
          }
        }
      }
    }
  }
  }
