@import '../../../style/mixin';
.subGuide {
  width: 100%;
//   background-color: red;
  .subGuideHeader {
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../../../asset/img/img/달빛기행/dal-22.png) center;
    background-size: cover;
    h1 {
      @include w48b;
    }
    p {
      @include w18b;
    }
  }
  .subGuideScreen {
    @include desktop;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
    .tabWrap {
      display: flex;
      justify-content: center;
      text-align: center;
      .tabMenu {
        @include b24r;
        font-weight: 300;
        cursor: pointer;
      }
      .tabDivide {
        padding: 0 20px;
        @include b24r;
      }
      .tabMenu.tabAcitve {
        @include b24b;
        padding-bottom: 5px;
        border-bottom: 2px solid #111111;
      }
    }
    .subGuideContent {
        .subGuideTitle {
          @include b48b;
          padding:100px 0 50px 0;
          text-align: center;
        }
        .subGuideBoxWrap{
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .subguideBox{
                width:calc((100% - 60px) / 4);
                height:243px;
                border:1px solid #ACACAC;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    @include b24b;
                    padding-bottom: 20px;
                }
                p{
                    @include b18r
                }
                div{
                    width:110px; height:30px;
                    border:1px solid #33BBC5;
                    color:#33BBC5;
                    @include m14b;
                    text-align: center;
                    margin: 20px auto 0 auto;
                   
                }
            }
        }
        .subGuideNotification{
            padding:50px 0;
            border-top:1px solid #d9d9d9;
            border-bottom : 1px solid #d0d0d0;
            h2{
                padding-bottom: 20px;
            }
            p{
                @include b18r;
            }
            .subGuideCaution{
                @include b16r;
                color:#535353;
            }
        }
        .guideMap{
            h1{
                @include b48b;
                text-align: center;

            }
            .map{
                width:100%;
                height:600px;
                background-color: red;
                margin:50px 0 40px 0;
            }
        }









      }
  }
}
