@import '../style/mixin';
.SignUpPage{
  width:100%;

    @include screenProtector;
    background: linear-gradient(to bottom, #1a124a 50%, #433577);
    .SignUpPageScreen{
      height: 100vh;
      position: relative;
      .UsersSignWrap{
        width: 460px;
        // height: 100vh;
        margin: 0 auto;
        padding: 150px 20px 0 20px;
        .logo{
          width: 132px;
          height: 52px;
          background: url(../asset/img/icon.png);
          background-position: 0px -131px;
          margin: 0 auto;
          margin-bottom: 60px;
        }
        .SignInput{
          margin-bottom: 20px;
        }
        input{
          padding: 20px;
          margin-bottom: 10px;
          width: 100%;
          height: 56px;
        }
        button{
          margin-top: 30px;
          color: #fff;
          width: 100%;
          height: 56px;
          background: none;
          border: 1px solid #fff;
          font-size: 17px;
          font-weight: bold;
          border-radius: 0;
          cursor: pointer;
        }
      }
      .BkImg{
        width: 100%;
        height:135px;
        // background: url(../asset/img/footerWeb.png);
        background: url(../asset/img/footerBg.png);
        // background-size: cover;
        position:absolute;
        bottom:0;
      }
    }
  }