@import '../style/mixin';
*{margin: 0;
padding: 0;
box-sizing: border-box}
.SignUpPage{
    @include screenProtector;
    background: linear-gradient(to bottom, #1a124a 50%, #433577);
    height: 100vh;
    position: relative;
      .UsersSignWrap{
        width: 460px;
        margin: 0 auto;
        padding: 150px 20px 0 20px;
        .logo{
          width: 132px;
          height: 52px;
          background: url(../asset/img/icon.png);
          background-position: 0px -131px;
          margin: 0 auto;
          margin-bottom: 60px;
        }
        .SignInput{
          margin-bottom: 20px;
        }
        input{
          padding: 20px;
          margin-bottom: 10px;
          width: 100%;
          height: 56px;
        }
        button{
          margin-top: 30px;
          color: #fff;
          width: 100%;
          height: 56px;
          background: none;
          border: 1px solid #fff;
          font-size: 17px;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .BkImg{
        width: 100%;
        height:113px;
        // background: url(../asset/img/footerWeb.png);
        background: url(../asset/img/footerBg.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        left:  0;
        bottom: 0;
        z-index: 99;
      }
  }