@import '../../../style/mixin';
.bookingSection {
  width: 100%;
  height: 100vh;
  background: url(../../../asset/img/all_bg.png);
  background-color: #1a124a;
  .bookingSectionScreen {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
     display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      @include w48b;
      padding: 0 0 50px 0;
      text-align: center;
    }
    .bookingWrap {
      display: flex;
      justify-content: space-between;

      .hidden{
        min-width: calc((100% - 60px) / 3);
        height:621px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        overflow: hidden;
      .bookingTicket {
        width: 100%;
        height: 100%;
        

        // padding: 85px 60px;
        position: relative;
        .bookingTicketText{
          width:100%;
          height:100%;
          padding: 85px 60px;
          position: absolute;
          z-index: 100;
          // transition: transform 1s ease;
        h1 {
          text-align: start;
          padding-bottom: 20px;
          @include font32r;
          span {
            @include font32b;
          }
        }
        .bookingTicketLogo {
          margin-bottom: 300px;
        }
        .bookingTicketLink {
          width:100%;
          color: #ffffff;
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
          border-top: 1px solid #ffffff;
          cursor: pointer;
          div {
            @include w18b;
          }
          a {
            color: #ffffff;
          }
        }
      }
        .bookingStarLogo {
          background: url(../../../asset/img/icon.png);
          background-position: 0px 0px;
          width: 86px;
          height: 35px;
        }
        .bookingMoonLogo {
          background: url(../../../asset/img/icon.png);
          background-position: 1px -43px;
          width: 90px;
          height: 35px;
        }
        .bookingNightLogo {
          background: url(../../../asset/img/icon.png);
          background-position: 0px -85px;
          width: 102px;
          height: 36px;
        }
        // transition: transform 0.3s ease;
        overflow: hidden;
      }
    }

      .bookingTicketText:hover + .ticket {
        transform: scale(1.2);
        transition: transform .7s ease; /* Optional: Add transition effect */
      }
      .ticket {
        transform: scale(1);
        transition: transform 0.7s ease; /* Optional: Add transition effect */
      }



      .ticket1 {
        width:100%; height:100%;
        background: url(../../../asset/img/img/예약안내/1920_4_byeol.png) center no-repeat;
        background-size: cover;
        overflow: hidden;
      }
      .ticket2 {
        width:100%; height:100%;
        background: url(../../../asset/img/img/예약안내/1920_4_dal.png) center;
        background-size: cover;
        overflow: hidden;
      }
      .ticket3 {
        width:100%; height:100%;
        background: url(../../../asset/img/img/예약안내/1920_4_seokjojeon.png) center;
        background-size: cover;
        overflow: hidden;
      }
    }
  }
  @include tablet {
      height: 100%;
      padding-top: 200px;
      .bookingSectionScreen {
        width: 100%;
  
        .bookingWrap {
          flex-direction: column;
          .hiddenCenter{
            margin:20px 0;
          }
          .hidden{
            width: 100%;
            height: 432px;
            .bookingTicket {
            .bookingTicketText{
              padding:70px 50px;
            .bookingTicketLink { 
              margin-top: -150px;
            }
          }
        }
      }
          .ticket1 {
            background: url(../../../asset/img/img/예약안내/1024_4_byeol.png);
          }
          .ticket2 {
            background: url(../../../asset/img/img/예약안내/1024_4_dal.png);
          }
          .ticket3 {
            background: url(../../../asset/img/img/예약안내/1024_4_seojojeon.png);
          }
        }
      }
    }
  
  @include mobileF {
      padding-top:150px;
      .bookingSectionScreen {
        h1{
          @include w40b;
        }
        .bookingWrap {
          flex-direction: column;
          .hidden{
            height:297px;
            padding:0;
          .bookingTicket {
          .bookingTicketText{
            padding:50px 30px 0 30px;
            h1{
              @include w24r;
              span{
                @include w24eb;
              }
            }
            .bookingTicketLink {
              margin-top: -230px;
              a{
                @include w16b;
              }
            }
          }
        }
      }
          .ticket1 {
            background: url(../../../asset/img/img/예약안내/1024_4_byeol.png)
              center;
              background-size: cover;
          }
          .ticket2 {
            
            background: url(../../../asset/img/img/예약안내/1024_4_dal.png) center;
            background-size: cover;
          }
          .ticket3 {
            background: url(../../../asset/img/img/예약안내/1024_4_seojojeon.png)
              center;
              background-size: cover;
          }
        }
      }
    }
    @include mobileS{
      padding-top: 100px;
      .bookingSectionScreen{
        h1{
          @include font32b;
        }
      .bookingTicketLink {
        a{
          @include w14b;
        }
    }
  }
}
}

