@import '../../../style/mixin';

.onlineEvent {
  width: 100%;
  height: 100vh;
  background: url(../../../asset/img/all_bg.png), linear-gradient(to bottom, #1a124a 50%, #433577);
  
  .onlineEventMain {

    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    // padding-top: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .onlineEventMainTitle {
      @include w48b;
      padding-bottom: 50px;
    }
    .onlineWrap {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 100;

      .onlineBox {
        width: calc((100% - 60px) / 3);
        height: 100%;
        background-color: white;
        position: relative;
        z-index: 10;

        .onlineBoxPic {
          width: 100%;
          height: 360px;
          transform: scale(1);
          transition: transform 0.7s ease; /* Optional: Add transition effect */
        }
        
        .onlineImgWrap{
          overflow: hidden;
          .onlinePic1 {
            background: url(../../../asset/img/img/온라인이벤트/online-event02.jpg) center;
            background-size: cover;
            &:hover {
              transform: scale(1.2);
              background-position: center;
              transition: 2s;
          }
          }
          .onlinePic2 {
            background: url(../../../asset/img/img/온라인이벤트/online-event05.png) center;
            background-size: cover;
            &:hover {
              transform: scale(1.2);
              background-position: center;
              transition: 2s;
          }
          }
          .onlinePic3 {
            background: url(../../../asset/img/img/온라인이벤트/online-event07.png) center;
            background-size: cover;
            &:hover {
              transform: scale(1.2);
              background-position: center;
              transition: 2s;
          }
          }
      }

        .onlineBoxTxt {
          height:180px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h1 {
            @include b24b;
          }
          div {
            @include b18r;
            padding: 5px 0 20px 0;
          }
          .BasicButton{
            padding:0;
          }
        }
      }
    }
  }
  .eventSectionFooter{
    width:100%;
    height:665px;
    background: url(../../../asset/img/footerWeb.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    position: relative;
    bottom:663px;
  }
  @include tablet {

      .onlineEventMain {
        padding: 0 50px;
  
        .onlineWrap {
          .onlineBox {
            .onlineBoxPic {
              height: 242px;
            }
  
            .onlineBoxTxt {
              height: 150px;
  
              h1 {
                @include b18r;
                font-weight: bold;
              }
  
              div {
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
    @include mobileF{
      height:2552px;
      .onlineEventMain{
        padding:0 30px;
        .onlineWrap{
          flex-direction: column;
          .onlineBox{
            width:100%;
            margin-bottom: 20px;
            .onlineBoxPic{
              height:540px;
            }
            .onlineBoxTxt{
              height:184px;
              div{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    @include mobileS{
      height:2032px;
      .onlineEventMain{
            padding:0 20px;
        .onlineWrap{

          .onlineBox{

            .onlineBoxPic{
               height:361px;
            }
            .onlineBoxTxt{
              height:154px;
              div{

              }
            }
          }
        }
      }
    }
  }

