@import '../asset/font/font';
html{
    font-family: 'NotoSansKR';
}

*{
    box-sizing: border-box;
}
h1, h2, h3, h4, p, body, main, section, ol, ul{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.7;
    letter-spacing: -1px;
}
