@import '../../style/mixin';

.iconBackground{
    width: 70px;
    height: 70px;
    background-color: #ebebeb;
    border-radius: 50%;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}